@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Display', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /*justify-items: center;*/
}

.container {
  margin: 30px auto;
  padding: 0 30px;
  align-items: flex-start;
}

.grid {
  height: 800px;
  max-width: 400px;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
  background-color: hsl(225, 100%, 98%);
  /* padding-top: 10px;*/
  grid-row: 1 / -1;
}

.img img {
  max-width: 100%;
  max-height: 100%;
  /*margin-bottom: 30px;*/
}

.Order {
  display: grid;
  align-items: center;
}

h3.O-Summary {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;

  /*padding-bottom: 20px;
  font-size: 20px;
  padding-top: 50px;*/
}

p.parag {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 45px;
  margin-right: 20px;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  line-height: 1.3em;
}

.border {
  background-color: hsl(225, 100%, 90%);
  border-radius: 15px;
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-top: -60px;
  width: 300px;
}

img.img-2 {
  border-radius: 50%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

button.Payment {
  background-color: hsl(245, 75%, 52%);
  border: none;
  padding: 20px 80px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 60px;
  font-size: 14px;
}

.border-paymant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.Cancel-Order {
  padding-bottom: ;
}
